* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #5c6168;
}

button,
input,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}
